# Dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de entorno
.env
.env.local
.env.*.local

# Caché y logs
logs/
*.log
logs/*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos de compilación y temporales
dist/
build/
.tmp/
.cache/
.out/
.nyc_output/
coverage/
.DS_Store

# Archivos del editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Archivos de salida de TypeScript
*.tsbuildinfo

# Archivos y carpetas de Docker
docker-compose.override.yml